<!DOCTYPE html>
<html lang="en">

<head>
  <title>Progress</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <script src="https://kit.fontawesome.com/43daf91e79.js" crossorigin="anonymous"></script>
  <link
  href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:wght@200;300;500&family=Roboto:wght@100;300&&family=Tangerine&display=swap"
  rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/profile"><img src="imgs/community-icon.png" alt="" height="35"
          class="d-inline-block align-text-top"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="/convert">Convert PDF Tool</a>
          </li>
          <li class="nav-item">
            <span class="nav-link"> | </span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/spaces">Sanctuary Spaces</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <br>
    <div class="row">
      <div class="col-sm">
        <% if (user.email) { %>
          <form class=”form-inline” class="" action="/messages" method="POST" role="form">
            <div class="form-group">
              <div class="col-6 col-sm-4">
                <h4>Keep It Going,
                  <strong><%= user.userName %></strong><br>
                </h4>
              </div>
            </div>
          </form>
        <% } %>
      </div>
    </div>
  </div>
  <br>


  

  <div class="input-container">
    <form class="tasks" action="/progress/createTask/" method="POST">
      <input class="input-field" type="text" placeholder="Type of Task" name="clientName">
      <input class="input-field" type="text" placeholder="Add New Task" name="taskDescription">
      <button class="submit btn-sm btn-light tasksBtn" type="submit">Submit</button>
    </form>
  </div>
  
      <div class="container-fluid taskContainer">
        <span class="headerTasks">Tasks</span>
        
          <span class="headerTasks">Incomplete</span>
              <ul class="row list-unstyled todo">
                <% for(var i=0; i<tasks.length; i++) { %>
                  <div class="pendingTasks d-flex flex-row">
                    <li class="col-6 justify-content-between mt-3">
                      <span>Name: <%= tasks[i].clientName %></span>
                  
                        <%= tasks[i].taskDescription %>
                        <form action="/progress/completeTasks/<%= tasks[i].id %>?_method=PUT"
                          method="POST">
                          <button class="btn bi bi-check-square-fill" type="submit"></button>
                        </form>
                   
                      

                    </li>
                  </div>
                <% } %>
                </ul>
      
       

        
          <span class="headerTasks">Complete</span>
            <ul class="row list-unstyled todocompleted">
              <li class="col-6 justify-content-between mt-3">
                <% for(let i=0; i < completeTasks.length; i++) { %>
                  <div class="d-flex flex-row">
                    <form action="/progress/deleteTask/<%= completeTasks[i].id %>?_method=DELETE" method="POST">
                      <button class="btn bi bi-trash" type="submit"></button>
                    </form>
                    <span>You completed the <%= completeTasks[i].clientName %> task!</span>
                  </div>
                
                  <!-- using form to pass the id of the post as a query parameter to be able to target which post to delete -->
              </li>
              <% } %>
            </ul>

        </div>
      </div>


    </div>

    <br>
    <br>
    <br>
    <footer id="footer" class="bg-dark text-center text-white">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="text-white mb-4">
              <!-- Twitter -->
              <a class="btn btn-outline-light btn-floating m-1" target="_blank" rel="noopener noreferrer"
                  href="https://twitter.com/sarahbouayad" role="button"><i class="fab fa-twitter social"></i></a>

              <!-- Linkedin -->
              <a class="btn btn-outline-light btn-floating m-1" target="_blank" rel="noopener noreferrer"
                  href="https://www.linkedin.com/in/sarahbouayad/" role="button"><i
                      class="fab fa-linkedin-in social"></i></a>

              <!-- Github -->
              <a class="btn btn-outline-light btn-floating m-1" target="_blank" rel="noopener noreferrer"
                  href="https://github.com/sarahbouayad" role="button"><i class="fab fa-github social"></i></a>
          </section>
          <!-- Section: Social media -->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3 footerText" style="background-color: rgb(51,51,51);">
          © 2022 Copyright:
          <a class="text-white footerText" target="_blank" rel="noopener noreferrer"
              href="https://www.sarahbouayad.com/">Sarah Bouayad</a>
      </div>
      <!-- Copyright -->
  </footer>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"></script>
    <script src="main.js"></script>

</body>

</html>